<body>
<div class="card mb-3">
        <div class="card-header">
        Agentes BCP</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Nombre Establecimiento</th>
                  <th>Operaciones Validas</th>
                  <th>Estado</th>
                  <th>Horario</th>
                  <th>Puntuacion</th>
                </tr>
              </thead>
             
                  <td>agencia inkafarma</td>
                  <td>solo deposito</td>
                  <td>abierto</td>
                  <td>8 am - 5pm</td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>agencia la molina</td>
                  <td>Deposito/Pago Servicios/Adelanto Sueldo</td>
                  <td>abierto</td>
                  <td>8 am - 8pm</td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>Agencia Santa Raquel</td>
                  <td>Solo Pago Servicios</td>
                  <td>cerrado</td>
                  <td>8 am - 2pm</td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>Agencia Flora</td>
                  <td>Deposito/Pago Servicios</td>
                  <td>abierto</td>
                  <td>8 am - 10pm</td>
                  <td>5</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
