<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>BCP GO!</title>
  <!-- Bootstrap core CSS-->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link rel="stylesheet" type="text/css" href="css/materialize.css">
  <link rel="stylesheet" type="text/css" href="css/materialize.min.css">
  <link href="css/sb-admin.css" rel="stylesheet">
</head>

<body class="bg-light">
  <div class="container">
    <h3>Registra tu Agente BCP</h3>


    <form>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-4">
                <div class="input-field col s12">
                  <input class="validate" id="inputRUC" type="text" aria-describedby="nameHelp">
                  <label for="inputRUC">RUC Establecimiento</label>
                </div>
              </div>
              <div class="col-md-8">
                <div class="input-field col s12">
                  <label for="inputEstablecimiento">Nombre de Establecimiento</label>
                  <input class="validate" id="inputEstablecimiento" type="text" aria-describedby="nameHelp">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-8">
                <div class="input-field col s12">
                  <label for="inputDireccion">Direccion de Establecimiento</label>
                  <input class="validate" id="inputDireccion" type="text" aria-describedby="nameHelp">
                </div>
              </div>
              <div class="col-md-4">
                <div class="input-field col s12">
                  <label for="inputTelefono">Número de teléfono</label>
                  <input class="form-control" id="inputTelefono" type="text" aria-describedby="nameHelp">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
                <div class="col-md-4">
                    <div class="input-field col s12">
                      <label for="inputMail">Correo Electronico</label>
                      <input class="form-control" id="inputMail" type="text" aria-describedby="nameHelp">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-field col s12">
                      <label for="inputPassword">Contrasena</label>
                      <input class="form-control" id="inputPassword" type="text" aria-describedby="nameHelp">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-field col s12">
                      <label for="inputRePassword">Repetir Contrasena</label>
                      <input class="form-control" id="inputRePassword" type="text" aria-describedby="nameHelp">
                    </div>
                </div>
                <a class="btn btn-primary btn-block" href="login.html">Registrar</a>
            </div>
        </form>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="js/materialize.js"></script>
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
</body>

</html>
